name: Diabetes CI (Skilled)

on:
  push:
    branches: ["main"]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      # 1. Ambil Kode dari Repo
      - name: Checkout Repository
        uses: actions/checkout@v3

      # 2. Setup Python
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      # 3. Install Library
      - name: Install Libraries
        run: |
          pip install mlflow pandas scikit-learn matplotlib seaborn joblib

      # 4. Jalankan Training (MLflow Run)
      # --env-manager=local agar cepat (pakai pip di atas), tidak perlu install conda lagi
      - name: Train Model
        run: |
          cd MLProject
          mlflow run . --env-manager=local --experiment-name CI_Diabetes_Run

      # 5. Simpan Hasil Training (SYARAT SKILLED)
      # Ini akan meng-upload folder 'mlruns' ke GitHub Actions Artifacts
      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: experiment-results
          path: MLProject/mlruns
